*{margin: 0;padding:0;}
body{height: 100%;display: flex;justify-content: center;
	align-items: center;flex-flow: column;}
 p{display:inline;}
.BST{margin:20px;width: 1000px;height: 500px;text-align: center;
	border:2px solid #3355d0;;margin-top: 20px;display: flex;
	 justify-content: center;align-items: center;background-color: #fff}
.second{width:50%;height:80%;margin: 20px;border:1px solid #3355d0;display: flex;
	 justify-content: center;align-items: center;background-color: #fff}
.third{width:50%;height:50%;margin: 20px;border:1px solid #3355d0;display: flex;
	 justify-content: center;align-items: center;background-color: #fff}
.forth{display:table-cell;width:60%;height:40%;margin: 10px;border:1px solid #3355d0;
	background-color: #fff;vertical-align: middle;line-height: 200%}	 
.control{margin: 10px auto;height: 80px;}
.control .s{height: 30px;width: 70px}
#text1{height: 30px;width: 120px;padding-left: 5px}